[submodule "dbmikus"]
	path = dbmikus
	url = git://github.com/dbmikus/sp2014.11-731
[submodule "Anna"]
	path = Anna
	url = git://github.com/Anttthea/sp2014.11-731.git
[submodule "kartikgo"]
	path = kartikgo
	url = git://github.com/kartikgo/sp2014.11-731
[submodule "pdasigi"]
	path = pdasigi
	url = https://github.com/pdasigi/sp2014.11-731.git
[submodule "drayson"]
	path = drayson
	url = git://github.com/drayson92/sp2014.11-731.git
