[submodule "dbmikus"]
	path = dbmikus
	url = git://github.com/dbmikus/sp2014.11-731
[submodule "Anna"]
	path = Anna
	url = git://github.com/Anttthea/sp2014.11-731.git
[submodule "kartikgo"]
	path = kartikgo
	url = git://github.com/kartikgo/sp2014.11-731
[submodule "pdasigi"]
	path = pdasigi
	url = https://github.com/pdasigi/sp2014.11-731.git
[submodule "drayson"]
	path = drayson
	url = git://github.com/drayson92/sp2014.11-731.git
[submodule "akothari"]
	path = akothari
	url = https://github.com/akcarmel/sp2014.11-731.git
[submodule "chenwan1"]
	path = chenwan1
	url = https://github.com/wowcecilia/sp2014.11-731.git
[submodule "abhimank"]
	path = abhimank
	url = https://github.com/abhimanu/sp2014.11-731
[submodule "hanz"]
	path = hanz
	url = https://github.com/michaelzhhan1990/sp2014.11-731.git
